body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dayCardContainer,
.forecastContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.dayCard {
  width: 100%;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  border: 1px solid black;
  padding: 10px;
}

.forecastCard {
  width: 100%;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  margin: 10px;
}

.forecastCard div {
  margin: 20px;
}

.weatherIcon {
  width: 100%;
}

/* .rain {
  background-image: url("./images/rainy.gif");
}

.lightning {
  background-image: url("./images/lightning.jpg");
}

.clouds {
  background-image: url("./images/clouds.jpg");
}

.snow {
  background-image: url("./images/snow.jpg");
}

.clear {
  background-image: url("./images/sun.gif");
} */
